### Exploring the Used Car Market in Saudi Arabia and Predicting Car Prices

#### Objectives :
- Perform Exploratory Data Analysis to uncover trends and patterns in the used car market in Saudi Arabia.
- Build a predictive model to estimate car prices based on key features like mileage, engine size, and year.

In [1]:
# Import important libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# reading our dataset 
df = pd.read_csv('UsedCarsSA_EN.csv')

## Data Preparation

In [6]:
# Check the condition of the dataset
print(df.shape)

(8035, 13)

In [8]:
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8035 entries, 0 to 8034
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         8035 non-null   object
 1   Type         8035 non-null   object
 2   Year         8035 non-null   int64
 3   Origin       8035 non-null   object
 4   Color        8035 non-null   object
 5   Options      8035 non-null   object
 6   Engine_Size  8035 non-null   float64
 7   Fuel_Type    8035 non-null   object
 8   Gear_Type    8035 non-null   object
 9   Mileage      8035 non-null   int64
 10  Region       8035 non-null   object
 11  Price        8035 non-null   int64
 12  Negotiable   8035 non-null   bool
dtypes: bool(1), float64(1), int64(3), object(8)
memory usage: 761.3+ KB

,Make,Type,Year,Origin,Color,Options,Engine_Size,Fuel_Type,Gear_Type,Mileage,Region,Price,Negotiable
0,Chrysler,C300,2018,Saudi,Black,Full,5.7,Gas,Automatic,103000,Riyadh,114000,False
1,Nissan,Patrol,2016,Saudi,White,Full,4.8,Gas,Automatic,5448,Riyadh,0,True
2,Nissan,Sunny,2019,Saudi,Silver,Standard,1.5,Gas,Automatic,72418,Riyadh,27500,False
3,Hyundai,Elantra,2019,Saudi,Grey,Standard,1.6,Gas,Automatic,114154,Riyadh,43000,False
4,Hyundai,Elantra,2019,Saudi,Silver,Semi Full,2.0,Gas,Automatic,41912,Riyadh,59500,False
5,Honda,Accord,2018,Saudi,Navy,Full,1.5,Gas,Automatic,39000,Riyadh,72000,False
6,Toyota,Land Cruiser,2011,Saudi,White,Semi Full,4.5,Gas,Automatic,183000,Riyadh,92000,False
7,GMC,Yukon,2009,Saudi,Bronze,Full,5.7,Gas,Automatic,323000,Riyadh,0,True
8,Chevrolet,Impala,2019,Saudi,Black,Standard,3.6,Gas,Automatic,70000,Riyadh,80000,False
9,Toyota,Yaris,2018,Saudi,White,Standard,1.5,Gas,Automatic,131000,Jeddah,32000,False

### Identify the Variables of the dataset and trying to get the description of each field :
- Make: The car manufacturer.
- Type: Model or type of the car.
- Year: Manufacturing year.
- Origin: Country of origin.
- Color: Color of the car.
- Options: Feature level (e.g., Full, Standard, Semi Full).
- Engine_Size: Engine capacity in liters.
- Fuel_Type: Type of fuel (e.g., Gas, Diesel).
- Gear_Type: Transmission type (e.g., Automatic, Manual).
- Mileage: Distance the car has traveled (in km).
- Region: Region where the car is being sold.
- Price: Selling price.
- Negotiable: Whether the price is negotiable or not.

In [11]:
# We will now start cleaning the data, first checking if there is a duplicates.
sumDup=df.duplicated()
sum(sumDup)

3

In [13]:
# it appears that we have 3 duplicates

In [15]:
df_cars=df.drop_duplicates()
sumDup=df_cars.duplicated()
sum(sumDup)

0

In [17]:
# checking null value in the dataset 
df_null= df_cars.isnull().sum()
df_null

Make           0
Type           0
Year           0
Origin         0
Color          0
Options        0
Engine_Size    0
Fuel_Type      0
Gear_Type      0
Mileage        0
Region         0
Price          0
Negotiable     0
dtype: int64

In [19]:
# Now as we see before that the price have zero value in the head, we want to remove all zero values.
price_zero = df_cars[df_cars['Price'] == 0]
price_zero

,Make,Type,Year,Origin,Color,Options,Engine_Size,Fuel_Type,Gear_Type,Mileage,Region,Price,Negotiable
1,Nissan,Patrol,2016,Saudi,White,Full,4.8,Gas,Automatic,5448,Riyadh,0,True
7,GMC,Yukon,2009,Saudi,Bronze,Full,5.7,Gas,Automatic,323000,Riyadh,0,True
18,GMC,Yukon,2018,Saudi,White,Full,5.3,Gas,Automatic,37000,Riyadh,0,True
26,Toyota,Camry,2019,Saudi,Red,Full,2.5,Gas,Automatic,8000,Makkah,0,True
28,Toyota,Avalon,2008,Other,Red,Full,3.5,Gas,Automatic,169000,Riyadh,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8018,Mazda,CX9,2015,Saudi,Red,Standard,3.6,Gas,Automatic,195000,Al-Medina,0,True
8021,Ford,Explorer,2010,Other,Black,Semi Full,1.6,Gas,Automatic,3275230,Al-Baha,0,True
8022,Toyota,Furniture,2020,Saudi,White,Semi Full,2.7,Gas,Automatic,82000,Makkah,0,True
8024,Toyota,Furniture,2014,Saudi,White,Semi Full,4.0,Gas,Automatic,497480,Riyadh,0,True
8032,Toyota,Land Cruiser,2013,Gulf Arabic,White,Full,4.6,Gas,Automatic,260,Najran,0,True

In [21]:
# there is 2526 zero value in price, so we just drop it
df = df_cars[df_cars['Price'] != 0]

# Check the number of rows that cleaned
zero_removed = len(df) - len(df_cars)

print("Number of rows removed: ",zero_removed)

Number of rows removed:  -2526

In [23]:
df.head(10)

,Make,Type,Year,Origin,Color,Options,Engine_Size,Fuel_Type,Gear_Type,Mileage,Region,Price,Negotiable
0,Chrysler,C300,2018,Saudi,Black,Full,5.7,Gas,Automatic,103000,Riyadh,114000,False
2,Nissan,Sunny,2019,Saudi,Silver,Standard,1.5,Gas,Automatic,72418,Riyadh,27500,False
3,Hyundai,Elantra,2019,Saudi,Grey,Standard,1.6,Gas,Automatic,114154,Riyadh,43000,False
4,Hyundai,Elantra,2019,Saudi,Silver,Semi Full,2.0,Gas,Automatic,41912,Riyadh,59500,False
5,Honda,Accord,2018,Saudi,Navy,Full,1.5,Gas,Automatic,39000,Riyadh,72000,False
6,Toyota,Land Cruiser,2011,Saudi,White,Semi Full,4.5,Gas,Automatic,183000,Riyadh,92000,False
8,Chevrolet,Impala,2019,Saudi,Black,Standard,3.6,Gas,Automatic,70000,Riyadh,80000,False
9,Toyota,Yaris,2018,Saudi,White,Standard,1.5,Gas,Automatic,131000,Jeddah,32000,False
10,Toyota,Camry,2017,Gulf Arabic,White,Standard,2.5,Gas,Automatic,107000,Dammam,50000,False
11,Nissan,Patrol,2014,Saudi,White,Full,5.6,Gas,Automatic,106000,Dammam,135000,False

In [25]:
# further check from highest price to lowest
data_sorted = df.sort_values(by='Price', ascending=True)
data_sorted.head(25)

,Make,Type,Year,Origin,Color,Options,Engine_Size,Fuel_Type,Gear_Type,Mileage,Region,Price,Negotiable
8023,GMC,Yukon,2019,Saudi,Grey,Full,5.3,Gas,Automatic,50000,Jubail,1,False
6999,Genesis,G80,2018,Other,Grey,Semi Full,3.8,Gas,Automatic,170000,Riyadh,500,False
7625,Toyota,Yaris,2018,Saudi,White,Standard,1.5,Gas,Automatic,100000,Riyadh,850,False
2178,Mitsubishi,Attrage,2019,Saudi,Grey,Standard,1.2,Gas,Automatic,41000,Jeddah,877,False
3642,Kia,Rio,2019,Saudi,Bronze,Standard,1.4,Gas,Automatic,55500,Arar,884,False
7233,Toyota,Yaris,2019,Saudi,White,Standard,1.6,Gas,Automatic,85000,Najran,950,False
1661,MG,5,2020,Saudi,White,Standard,1.5,Gas,Automatic,41000,Al-Ahsa,988,False
7665,Hyundai,Elantra,2019,Saudi,Grey,Standard,2.0,Gas,Automatic,89000,Jeddah,993,False
3009,GMC,Yukon,2021,Saudi,Another Color,Standard,5.3,Gas,Automatic,4000,Jeddah,1000,False
4277,Toyota,Corolla,2020,Saudi,Silver,Standard,1.6,Gas,Automatic,48563,Hail,1002,False
3580,Hyundai,Sonata,2020,Saudi,Grey,Standard,2.0,Gas,Automatic,7000,Jeddah,1010,False
2126,Hyundai,Elantra,2020,Saudi,Silver,Semi Full,2.0,Gas,Automatic,27000,Abha,1010,False
6836,Toyota,Corolla,2020,Saudi,Silver,Semi Full,1.6,Gas,Automatic,14000,Riyadh,1013,False
7683,Toyota,Yaris,2018,Saudi,White,Full,1.5,Gas,Automatic,169000,Najran,1046,False
2657,Hyundai,Accent,2020,Saudi,Grey,Full,1.6,Gas,Automatic,35000,Jeddah,1066,False
7959,Toyota,Corolla,2020,Saudi,White,Semi Full,1.1,Gas,Automatic,26000,Makkah,1086,False
6194,Renault,Duster,2017,Saudi,Navy,Full,2.0,Gas,Automatic,106000,Al-Ahsa,1128,False
1482,Nissan,Sentra,2017,Saudi,Grey,Semi Full,1.6,Gas,Automatic,55005,Jeddah,1139,False
5345,Hyundai,Kona,2020,Saudi,Silver,Standard,2.0,Gas,Automatic,6400,Al-Medina,1156,False
7819,Hyundai,Elantra,2018,Saudi,White,Standard,2.0,Gas,Automatic,22640,Najran,1158,False
4548,Great Wall,Wingle,2020,Saudi,Another Color,Full,2.0,Diesel,Manual,73000,Jeddah,1197,False
7442,Chevrolet,Malibu,2021,Saudi,Black,Standard,1.5,Gas,Automatic,24000,Arar,1200,False
829,Hyundai,Elantra,2020,Saudi,Silver,Semi Full,2.0,Gas,Automatic,47000,Riyadh,1221,False
4696,Mazda,CX5,2021,Saudi,Grey,Standard,2.5,Gas,Automatic,5500,Khobar,1262,False
6309,Toyota,Corolla,2018,Saudi,White,Standard,1.6,Gas,Automatic,221000,Jubail,1300,False

In [27]:
# great,now we want to see the uesfulness of "Negotiable" column because before we cleaned the values, it gave us "True" only in zero values in price column
true_non_zero = df[(df['Negotiable'] == True) & (df['Price'] != 0)]
print(len(true_non_zero))

0

In [29]:
# so there is no use for the column as there is no value other than zero to gave us true, so we drop it
df_cars=df.drop(columns=['Negotiable'])

In [31]:
df_cars.head()

,Make,Type,Year,Origin,Color,Options,Engine_Size,Fuel_Type,Gear_Type,Mileage,Region,Price
0,Chrysler,C300,2018,Saudi,Black,Full,5.7,Gas,Automatic,103000,Riyadh,114000
2,Nissan,Sunny,2019,Saudi,Silver,Standard,1.5,Gas,Automatic,72418,Riyadh,27500
3,Hyundai,Elantra,2019,Saudi,Grey,Standard,1.6,Gas,Automatic,114154,Riyadh,43000
4,Hyundai,Elantra,2019,Saudi,Silver,Semi Full,2.0,Gas,Automatic,41912,Riyadh,59500
5,Honda,Accord,2018,Saudi,Navy,Full,1.5,Gas,Automatic,39000,Riyadh,72000

In [33]:
# Let us do some validation on the dataset and check 
df_cars.describe()

              Year  Engine_Size       Mileage         Price
count  5506.000000  5506.000000  5.506000e+03  5.506000e+03
mean   2014.839085     3.178169  1.393799e+05  7.833494e+04
std       5.142642     1.465976  3.349330e+05  7.504151e+04
min    1963.000000     1.000000  1.000000e+02  1.000000e+00
25%    2013.000000     2.000000  4.600000e+04  3.500000e+04
50%    2016.000000     2.700000  1.010000e+05  5.800000e+04
75%    2018.000000     4.000000  1.800000e+05  9.500000e+04
max    2021.000000     9.000000  2.000000e+07  1.150000e+06

In [35]:
# the format is not good with scientific notation lets change it 
pd.set_option('display.float_format', '{:,.1f}'.format)
df_cars.describe()

         Year  Engine_Size      Mileage       Price
count 5,506.0      5,506.0      5,506.0     5,506.0
mean  2,014.8          3.2    139,379.9    78,334.9
std       5.1          1.5    334,933.0    75,041.5
min   1,963.0          1.0        100.0         1.0
25%   2,013.0          2.0     46,000.0    35,000.0
50%   2,016.0          2.7    101,000.0    58,000.0
75%   2,018.0          4.0    180,000.0    95,000.0
max   2,021.0          9.0 20,000,000.0 1,150,000.0

### first look:
- The max value of Mileage is unrealistic as it is 20,000,000 and the std is very high, we will deal with it later, like limiting it to 100000km
- the price seem resonable but we have to look for a normal value like above 7000, there is no benefit to consider a one riyal car
- Year are in realistic range as it is from 1963 to 2021
- the engine size is relistic at first glance as well from 1L to 9L

In [38]:
# check the number of cars below 7000 riyal
low_price_cars = df_cars[df_cars['Price'] < 7000]
print(f"Number of cars priced below 7000 Riyal: {len(low_price_cars)}")

Number of cars priced below 7000 Riyal: 112

In [40]:
low_price_cars.describe()

         Year  Engine_Size     Mileage   Price
count   112.0        112.0       112.0   112.0
mean  2,015.3          2.9   112,187.7 2,379.8
std       8.0          1.4   220,693.8 1,582.9
min   1,986.0          1.0       100.0     1.0
25%   2,016.0          2.0    21,230.0 1,307.5
50%   2,019.0          2.5    49,500.0 1,711.5
75%   2,020.0          3.6   111,250.0 2,730.0
max   2,021.0          6.0 2,000,000.0 6,500.0

In [42]:
# they tend to have the high mileage as the min is one riyal all these point aim that the info is unrealistic so droping it is better
df_cars_cleaned = df_cars[df_cars['Price'] >= 7000]

# Confirm the new dataset size
print(f"Number of cars remaining after filtering: {len(df_cars_cleaned)}")
df_cars_cleaned = df_cars[df_cars['Mileage'] <=80_0000]
print(f"Number of cars remaining after filtering: {len(df_cars_cleaned)}")

Number of cars remaining after filtering: 5394
Number of cars remaining after filtering: 5479

In [44]:
df_cars=df_cars_cleaned

In [46]:
df_cars.head(12)

,Make,Type,Year,Origin,Color,Options,Engine_Size,Fuel_Type,Gear_Type,Mileage,Region,Price
0,Chrysler,C300,2018,Saudi,Black,Full,5.7,Gas,Automatic,103000,Riyadh,114000
2,Nissan,Sunny,2019,Saudi,Silver,Standard,1.5,Gas,Automatic,72418,Riyadh,27500
3,Hyundai,Elantra,2019,Saudi,Grey,Standard,1.6,Gas,Automatic,114154,Riyadh,43000
4,Hyundai,Elantra,2019,Saudi,Silver,Semi Full,2.0,Gas,Automatic,41912,Riyadh,59500
5,Honda,Accord,2018,Saudi,Navy,Full,1.5,Gas,Automatic,39000,Riyadh,72000
6,Toyota,Land Cruiser,2011,Saudi,White,Semi Full,4.5,Gas,Automatic,183000,Riyadh,92000
8,Chevrolet,Impala,2019,Saudi,Black,Standard,3.6,Gas,Automatic,70000,Riyadh,80000
9,Toyota,Yaris,2018,Saudi,White,Standard,1.5,Gas,Automatic,131000,Jeddah,32000
10,Toyota,Camry,2017,Gulf Arabic,White,Standard,2.5,Gas,Automatic,107000,Dammam,50000
11,Nissan,Patrol,2014,Saudi,White,Full,5.6,Gas,Automatic,106000,Dammam,135000
12,Chevrolet,Tahoe,2018,Other,Grey,Semi Full,5.3,Gas,Automatic,176140,Riyadh,153000
13,Mercedes,CLA,2020,Other,White,Standard,2.0,Gas,Automatic,20000,Riyadh,235000

#### let us clean the index to have a better view at the data

In [49]:
df_cars.reset_index(drop=True, inplace=True)
df_cars.head(12)

,Make,Type,Year,Origin,Color,Options,Engine_Size,Fuel_Type,Gear_Type,Mileage,Region,Price
0,Chrysler,C300,2018,Saudi,Black,Full,5.7,Gas,Automatic,103000,Riyadh,114000
1,Nissan,Sunny,2019,Saudi,Silver,Standard,1.5,Gas,Automatic,72418,Riyadh,27500
2,Hyundai,Elantra,2019,Saudi,Grey,Standard,1.6,Gas,Automatic,114154,Riyadh,43000
3,Hyundai,Elantra,2019,Saudi,Silver,Semi Full,2.0,Gas,Automatic,41912,Riyadh,59500
4,Honda,Accord,2018,Saudi,Navy,Full,1.5,Gas,Automatic,39000,Riyadh,72000
5,Toyota,Land Cruiser,2011,Saudi,White,Semi Full,4.5,Gas,Automatic,183000,Riyadh,92000
6,Chevrolet,Impala,2019,Saudi,Black,Standard,3.6,Gas,Automatic,70000,Riyadh,80000
7,Toyota,Yaris,2018,Saudi,White,Standard,1.5,Gas,Automatic,131000,Jeddah,32000
8,Toyota,Camry,2017,Gulf Arabic,White,Standard,2.5,Gas,Automatic,107000,Dammam,50000
9,Nissan,Patrol,2014,Saudi,White,Full,5.6,Gas,Automatic,106000,Dammam,135000
10,Chevrolet,Tahoe,2018,Other,Grey,Semi Full,5.3,Gas,Automatic,176140,Riyadh,153000
11,Mercedes,CLA,2020,Other,White,Standard,2.0,Gas,Automatic,20000,Riyadh,235000

In [51]:
df_cars.describe()

         Year  Engine_Size   Mileage       Price
count 5,479.0      5,479.0   5,479.0     5,479.0
mean  2,014.9          3.2 125,378.5    78,561.7
std       5.1          1.5 108,128.9    75,118.0
min   1,963.0          1.0     100.0         1.0
25%   2,013.0          2.0  46,000.0    35,000.0
50%   2,016.0          2.7 100,000.0    58,000.0
75%   2,018.0          4.0 180,000.0    95,000.0
max   2,021.0          9.0 749,000.0 1,150,000.0

#### Now all good for the Numerical features summary at first look, lets do some investigate for the Categorical features

In [54]:
# Identify categorical columns
categorical_columns = df_cars_cleaned.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_columns)

Categorical columns: Index(['Make', 'Type', 'Origin', 'Color', 'Options', 'Fuel_Type', 'Gear_Type',
       'Region'],
      dtype='object')

In [56]:
# Display unique values for each categorical column
for col in categorical_columns:
    print(f"Unique values in {col}:")
    print(df_cars_cleaned[col].unique())
    print()

Unique values in Make:
['Chrysler' 'Nissan' 'Hyundai' 'Honda' 'Toyota' 'Chevrolet' 'Mercedes'
 'MINI' 'Lexus' 'Land Rover' 'GMC' 'Mazda' 'Ford' 'Kia' 'Genesis'
 'Cadillac' 'Geely' 'MG' 'Jeep' 'INFINITI' 'Dodge' 'Ferrari' 'Great Wall'
 'Jaguar' 'GAC' 'Renault' 'Suzuki' 'Peugeot' 'Changan' 'HAVAL' 'BMW'
 'Rolls-Royce' 'Porsche' 'Mitsubishi' 'Subaru' 'Zhengzhou' 'Lincoln'
 'Daihatsu' 'FAW' 'Chery' 'Isuzu' 'Audi' 'Bentley' 'Aston Martin'
 'Volkswagen' 'Fiat' 'Mercury' 'Classic' 'Hummer' 'BYD' 'Maserati' 'Other'
 'Lifan' 'Foton' 'Victory Auto' 'Å koda' 'Iveco']

Unique values in Type:
['C300' 'Sunny' 'Elantra' 'Accord' 'Land Cruiser' 'Impala' 'Yaris' 'Camry'
 'Patrol' 'Tahoe' 'CLA' 'E' 'Corolla' 'Copper' 'Prado' 'Civic' 'Furniture'
 'RX' 'Range Rover' 'Yukon' 'Bus Urvan' 'Aurion' 'Malibu' 'Rav4' 'CX9'
 'Expedition' 'ES' 'Cadenza' 'Tucson' 'Platinum' 'G80' 'Accent' 'Sonata'
 'LX' 'GX' 'Azera' 'CT-S' 'EC7' 'ZS' 'Kona' 'Grand Cherokee' 'S' 'M'
 'Charger' 'Taurus' 'GTB 599 Fiorano' 'Royal' 'Picanto' 'Power' 'Datsun'
 'F-Pace' 'Hilux' 'Suburban' 'Explorer' 'FJ' 'Senta fe' 'Optima' 'GS8'
 'Maxima' 'Caprice' 'Challenger' 'Camaro' 'Symbol' 'Fluence' '6' 'RX5'
 'Avalon' 'APV' '3008' 'Cerato' 'Traverse' 'Sierra' 'F150' 'Genesis' 'NX'
 'C' 'G70' 'Flex' 'UX' 'Cores' 'Creta' 'Rio' 'Odyssey' 'Sylvian Bus' 'H1'
 'Ciocca' 'Land Cruiser Pickup' 'Cressida' 'Duster' 'Seven' 'GLC'
 'Carnival' 'EC8' 'H6' '300' 'The 7' 'Z370' 'Spark' 'Ghost' '911'
 'Attrage' 'Focus' 'X-Trail' 'Forester' 'Pick up' 'The 4' 'GS' 'Pajero'
 'Acadia' 'City' 'Echo Sport' 'Vego' 'The 5' 'Silverado' 'Cherokee'
 'Altima' 'X' 'Navigator' 'Wrangler' 'G' 'XT5' 'Cruze' 'Navara' 'Gran Max'
 'Innova' 'Aveo' 'Soul' 'Sportage' 'Montero' 'Prestige' 'Sentra' 'Dokker'
 'Veloster' 'Fusion' 'Land Cruiser 70' 'Seltos' 'Behbehani' 'Victoria'
 'LS' 'CX5' 'Emgrand' 'Carenz' 'SEL' 'The 6' 'Marquis' 'SL' 'Pathfinder'
 'H2' 'Talisman' 'Mustang' '5008' 'A' 'T77' 'Safrane' 'QX' 'Tiggo'
 'Durango' 'Eado' 'MKS' 'CT5' 'Panamera' 'CS35' 'Coolray' 'Countryman'
 'D-MAX' 'Partner' 'Capture' '301' 'A6' 'Pilot' 'Previa' 'X-Terra' 'Other'
 'CS75' 'Flying Spur' 'Outlander' 'Sorento' 'Vanquish' 'Touareg' 'Safari'
 'K5' 'HRV' '3' 'Q5' 'CT4' 'MKX' 'S5' 'X7' 'Rush' '2' 'Delta' 'VTC' 'IS'
 'Cayenne' 'Blazer' 'CS35 Plus' 'KICKS' 'Q' 'CS85' 'Armada' 'Escalade'
 'Echo' 'Avanza' 'Terios Ground' '5' 'CX3' 'S300' 'Koleos' 'Compass'
 'Edge' 'A8' 'Hiace' 'Lumina' 'ML' '500' 'Macan' 'Passat' 'CLS' 'Stinger'
 'Viano' 'A3' 'S8' 'Vantage' 'RX8' 'RC' 'MKZ' 'CC' 'C-HR' 'Terrain'
 'Mohave' 'Savana' 'CL' 'Ram' 'Coaster' 'Vitara' 'Juke' 'C200' 'FX'
 'Fleetwood' 'Milan' 'Dyna' 'Cayman' 'Boxer' 'ATS' 'Cadillac'
 'Grand Marquis' 'H3' 'Prius' 'CS95' 'F3' 'A5' 'Gamble' 'The 3' 'L200'
 '360' 'Jimny' 'XJ' 'LF X60' 'Van' 'Envoy' 'Patriot' 'GL' 'The M' 'Arnage'
 'Cayenne S' 'ASX' 'F Type' 'Golf' 'Coupe S' 'GLE' 'Camargue' 'Doblo'
 'Bus County' 'Ranger' 'H-2' 'Z' 'Avante' 'Discovery' 'Optra' 'B50'
 'Grand Vitara' 'Mini Van' 'Nativa' 'Beetle' 'Ertiga' '4Runner' 'GS3'
 'Quattroporte' 'Azkarra' 'XF' 'A7' 'Gloria' 'Tuscani' 'Kaptiva' 'Murano'
 'DB9' 'Levante' 'Wingle' 'Jetta' 'Opirus' 'CRV' 'Montero2' 'i40' 'Tiguan'
 'Logan' 'Town Car' 'Lancer' 'Abeka' 'Dzire' 'Terios' 'Cayenne Turbo'
 'Mini Cooper' 'Continental GT' 'Z350' 'Nitro' 'Van R' 'Crosstour' 'SX4'
 'Suvana' 'Liberty' 'Coupe' 'Prestige Plus' 'X40' 'POS24' 'Colorado' 'CT6'
 'Fabia' 'Megane' 'Bentayga' 'Q7' 'Daily' 'Carens' 'A4' 'GC7' 'G330'
 'Defender' 'H9' 'Trailblazer' 'Sedona' 'Cayenne Turbo GTS' 'SRT' 'HS'
 "D'max" 'Pegas' 'Superb' 'Veracruz' '307' 'CX7' 'QQ' 'L300' 'Galant']

Unique values in Origin:
['Saudi' 'Gulf Arabic' 'Other' 'Unknown']

Unique values in Color:
['Black' 'Silver' 'Grey' 'Navy' 'White' 'Bronze' 'Another Color' 'Golden'
 'Brown' 'Blue' 'Red' 'Oily' 'Green' 'Orange' 'Yellow']

Unique values in Options:
['Full' 'Standard' 'Semi Full']

Unique values in Fuel_Type:
['Gas' 'Diesel' 'Hybrid']

Unique values in Gear_Type:
['Automatic' 'Manual']

Unique values in Region:
['Riyadh' 'Jeddah' 'Dammam' 'Al-Medina' 'Qassim' 'Makkah' 'Jazan' 'Tabouk'
 'Aseer' 'Al-Ahsa' 'Taef' 'Sabya' 'Khobar' 'Abha' 'Al-Baha' 'Yanbu' 'Hail'
 'Al-Namas' 'Jubail' 'Al-Jouf' 'Hafar Al-Batin' 'Najran' 'Arar'
 'Wadi Dawasir' 'Besha' 'Qurayyat' 'Sakaka']

In [58]:
# Display value counts for each categorical column
for col in categorical_columns:
    print(f"Value counts for {col}:")
    print(df_cars_cleaned[col].value_counts())
    print()

Value counts for Make:
Make
Toyota          1253
Hyundai          717
Ford             507
Chevrolet        418
Nissan           359
Kia              267
Mercedes         256
GMC              246
Lexus            237
Mazda            139
Honda            138
Mitsubishi        95
BMW               92
Dodge             85
Land Rover        74
Jeep              57
Chrysler          47
Genesis           46
Audi              37
Renault           37
Changan           37
Cadillac          35
MG                27
Porsche           25
Isuzu             23
Geely             22
Volkswagen        22
INFINITI          16
Suzuki            14
Peugeot           14
Lincoln           13
HAVAL             13
Jaguar            11
Fiat              11
MINI              11
Daihatsu           9
Mercury            9
Other              8
Bentley            7
Maserati           6
GAC                5
FAW                4
Hummer             4
Rolls-Royce        4
Aston Martin       3
Å koda              2
Classic            2
Chery              2
Great Wall         2
Foton              2
Zhengzhou          2
Subaru             2
Victory Auto       1
Ferrari            1
Lifan              1
BYD                1
Iveco              1
Name: count, dtype: int64

Value counts for Type:
Type
Accent          209
Camry           207
Land Cruiser    201
Sonata          161
Hilux           156
               ...
Patriot           1
Envoy             1
LF X60            1
EC8               1
Galant            1
Name: count, Length: 351, dtype: int64

Value counts for Origin:
Origin
Saudi          4123
Gulf Arabic     716
Other           616
Unknown          24
Name: count, dtype: int64

Value counts for Color:
Color
White            2295
Silver            651
Black             650
Grey              540
Another Color     351
Brown             219
Red               192
Blue              161
Golden            122
Navy              120
Bronze            106
Oily               35
Green              21
Orange              8
Yellow              8
Name: count, dtype: int64

Value counts for Options:
Options
Full         2091
Standard     1916
Semi Full    1472
Name: count, dtype: int64

Value counts for Fuel_Type:
Fuel_Type
Gas       5378
Diesel      89
Hybrid      12
Name: count, dtype: int64

Value counts for Gear_Type:
Gear_Type
Automatic    4913
Manual        566
Name: count, dtype: int64

Value counts for Region:
Region
Riyadh            2293
Dammam            1117
Jeddah             780
Al-Medina          171
Qassim             160
Al-Ahsa            157
Makkah             133
Aseer              129
Tabouk              69
Taef                68
Khobar              63
Jubail              54
Jazan               53
Abha                40
Hail                32
Hafar Al-Batin      28
Al-Baha             24
Najran              23
Yanbu               20
Al-Jouf             18
Arar                13
Al-Namas            12
Besha                6
Wadi Dawasir         5
Qurayyat             5
Sakaka               4
Sabya                2
Name: count, dtype: int64

### Some Observations we got :
- for the Car manufacturer there are very rare manufacturers fewer than 5 entries we would combine them to "Other"
- same thing in Type we will deal with it like car manufacturers 
- there are unknown data in "origin" best to drop it
- no action should be done for now to the feature Option as it is fine for now

In [74]:
df_cars.loc[df_cars['Make'].isin(df_cars['Make'].value_counts()[df_cars['Make'].value_counts() <= 5].index), 'Make'] = 'Other'

In [76]:
df_cars = df_cars[df_cars['Origin'] != 'Unknown']
print(f"Number of rows after dropping 'Unknown' origin: {len(df_cars_cleaned)}")

Number of rows after dropping 'Unknown' origin: 5479

In [78]:
df_cars.loc[df_cars['Type'].isin(df_cars['Type'].value_counts()[df_cars['Type'].value_counts() <= 5].index), 'Type'] = 'Other'

In [84]:
# check the column 
key_columns = ['Make', 'Type', 'Region','Origin' ]

for col in key_columns:
    print(f"Value counts for {col}:")
    print(df_cars[col].value_counts())
    print("\n")

Value counts for Make:
Make
Toyota        1245
Hyundai        715
Ford           502
Chevrolet      416
Nissan         359
Kia            265
Mercedes       256
GMC            246
Lexus          236
Mazda          139
Honda          137
Mitsubishi      95
BMW             92
Dodge           84
Land Rover      74
Jeep            57
Other           47
Chrysler        47
Genesis         46
Changan         37
Audi            37
Renault         37
Cadillac        35
MG              27
Porsche         25
Isuzu           23
Geely           22
Volkswagen      21
INFINITI        16
Peugeot         14
Suzuki          14
HAVAL           13
Lincoln         13
Jaguar          11
MINI            11
Fiat            11
Daihatsu         9
Mercury          8
Bentley          7
Maserati         6
Name: count, dtype: int64


Value counts for Type:
Type
Other            450
Accent           209
Camry            203
Land Cruiser     198
Sonata           160
                ...
KICKS              6
RX5                6
S300               6
5                  6
Grand Marquis      6
Name: count, Length: 143, dtype: int64


Value counts for Region:
Region
Riyadh            2286
Dammam            1115
Jeddah             776
Al-Medina          169
Qassim             159
Al-Ahsa            154
Makkah             133
Aseer              129
Tabouk              67
Taef                67
Khobar              63
Jubail              54
Jazan               53
Abha                39
Hail                32
Hafar Al-Batin      28
Al-Baha             23
Najran              23
Yanbu               20
Al-Jouf             18
Arar                13
Al-Namas            12
Besha                6
Wadi Dawasir         5
Qurayyat             5
Sakaka               4
Sabya                2
Name: count, dtype: int64


Value counts for Origin:
Origin
Saudi          4123
Gulf Arabic     716
Other           616
Name: count, dtype: int64

In [86]:
df_cars.describe(exclude="number")

          Make   Type Origin  Color Options Fuel_Type  Gear_Type  Region
count     5455   5455   5455   5455    5455      5455       5455    5455
unique      40    143      3     15       3         3          2      27
top     Toyota  Other  Saudi  White    Full       Gas  Automatic  Riyadh
freq      1245    450   4123   2287    2082      5354       4890    2286

### Now the data is mostly cleaned we will jump to EDA

## Exploratory data analysis